:root {
    --footer-icon: 0px 2px 5.099999904632568px 0px rgba(197, 179, 229, 0.6);
    --variable-collection-neutral-text-gray-dark-400: rgba(158, 143, 163, 1);
    --variable-collection-neutral-text-black-light-900: rgba(22, 16, 24, 1);
  }
  